@use "../../app/variables.scss" as *;
@use "../mixins.scss" as *;
@use "../commonStyles.scss" as *;

main {
  position: relative;
  .main {
    width: 100%;
    height: 100vh;
    @include flex(row, center, null, null);
    .centerInMain {
      @include flex(column, null, null, 42px);
      min-width: 70%;
      min-height: 70%;
      margin-top: 72px;
      .checkoutText {
        @include flex(row, center, center, null);
        width: 207px;
        height: 63px;
        @include font-style(42px, 600, SemiBold, 100%);
        color: $color-text;
      }
      .cartAndDetail {
        @include flex(row, null, null, 131px);
        .orderDetails {
          width: 1129px;
          height: 635px;
          border-radius: 16px;
          background-color: $color-bg;
          .textAndInputs {
            margin-top: 72px;
            margin-left: 47px;
            span {
              width: 144px;
              height: 33px;
              @include font-style(22px, 500, Medium, 100%);
              color: $color-muted;
            }
            .inputs {
              margin-top: 46px;
              @include flex(column, null, null, 33px);
              .top,
              .bott {
                @include flex(row, null, null, 24px);
              }
              .mid {
                position: relative;
                .midInput {
                  width: 578px;
                  padding-left: 36px;
                  outline: none;
                }
                .email-svg {
                  position: absolute;
                  left: 13.88px;
                  top: 12.75px;
                }
              }
              .input {
                outline: none;
                width: 277px;
                height: 42px;
                border-radius: 8px;
                background-color: $white;
                border: 1px solid $color-border;
                padding: 0 12px;
                &::placeholder {
                  @include font-style(14px, 400, Regular, 100%);
                  color: $color-muted;
                  opacity: 1;
                }
              }
            }
          }
        }
        .checkoutCart {
          @include flex(column, flex-start, center, null);
          width: 460px;
          height: 635px;
          .top {
            @include flex(row, space-between, null, null);
            width: 100%;
            .cartText {
              width: 181px;
              height: 30px;
              span {
                @include font-style(20px, 500, Medium, 100%);
                color: $color-text;
              }
            }
            .close {
              @include flex(center, center, null, null);
              cursor: pointer;
              width: 32px;
              height: 32px;
              svg {
                fill: $color-text;
              }
            }
          }
          .emtyCart {
            @include flex(column, center, center, null);
            margin-top: 150px;
            width: 170px;
            height: 135px;
            .oops {
              margin-top: 24px;
              width: 88px;
              height: 36px;
              @include font-style(24px, 600, SemiBold, 100%);
              color: $color-text;
            }
            .youGotNothing {
              margin-top: 10px;
              width: 277px;
              height: 21px;
              @include font-style(14px, 400, Regular, 100%);
              text-align: center;
              color: $color-muted;
            }
            .button {
              @include flex(center, center, null, null);
              margin-top: 58px;
              width: 214px;
              height: 41px;
              border-radius: 10px;
              padding: 10px 20px;
              background-color: $color-primary;
              span {
                @include font-style(14px, 400, Regular, 100%);
                display: flex;
                align-items: center;
                justify-content: center;
                width: 103px;
                height: 21px;
                color: $white;
              }
            }
          }
          .prodictsInCart {
            @include flex(column, null, null, 36px);
            height: 262px;
            border-bottom: 1px solid $color-border;
            overflow-y: auto;
            scrollbar-width: none;
            -ms-overflow-style: none;
            .cart {
              @include flex(row, null, null, 17px);
              width: 460px;
              height: 134px;
              img {
                width: 100px;
                height: 134px;
                border-radius: 10px;
                border: 1px solid $color-border;
              }
              .infoIncart {
                @include flex(column, null, null, 13px);
                width: 343px;
                height: 117px;
                .topInCart {
                  @include flex(row, space-between, flex-start, null);
                  width: 343px;
                  height: 78px;
                  .leftintop {
                    @include flex(column, null, null, 8px);
                    width: 285px;
                    height: 78px;
                    .name {
                      @include font-style(14px, 500, Medium, 100%);
                      width: 252px;
                      height: 26px;
                      color: $color-text;
                    }
                    .color,
                    .size {
                      @include font-style(12px, 400, Regular, 100%);
                      width: 285px;
                      height: 18px;
                      color: $color-muted;
                    }
                  }
                  .rightInTop {
                    @include flex(row, center, center, null);
                    min-width: 39px;
                    width: fit-content;
                    height: 26px;
                    span {
                      min-width: 39px;
                      height: 26px;
                      gap: 10px;
                      opacity: 1;
                      color: $color-text;
                    }
                  }
                }
                .bottomInCart {
                  @include flex(row, space-between, null, null);
                  width: 343px;
                  height: 26px;
                  .left {
                    @include flex(row, space-between, center, 2px);
                    padding: 4px 8px;
                    border-radius: 22px;
                    border: 1px solid $color-border;
                    width: 70px;
                    height: 26px;
                    span {
                      @include font-style(12px, 400, Regular, 100%);
                      width: 18px;
                      height: 18px;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      color: $color-text;
                    }
                    .minusSvgDivv,
                    .plusSvgDiv {
                      @include flex(center, center, center, null);
                      position: relative;
                      width: 16px;
                      height: 16px;
                      cursor: pointer;
                      .minus-svg,
                      .plus-svg {
                        fill: $color-border;
                      }
                    }
                  }
                  .right {
                    @include flex(row, center, center, 10px);
                    width: 49px;
                    height: 26px;
                    span {
                      @include font-style(12px, 400, Regular, 100%);
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      cursor: pointer;
                      width: 100%;
                      height: 18px;
                      opacity: 0.8;
                      color: $color-text;
                    }
                  }
                }
              }
            }
          }
          .prices {
            @include flex(column, null, null, 10px);
            margin-top: 100px;
            width: 460px;
            height: 110px;
            .subtotal {
              @include flex(row, space-between, null, null);
              width: 460px;
              height: 24px;
              .subT,
              .price {
                @include font-style(16px, 400, Regular, 100%);
                display: flex;
                align-items: center;
                justify-content: center;
                color: $color-text;
              }
            }
            .total {
              @include flex(row, space-between, null, null);
              width: 460px;
              height: 30px;
              .text,
              .price {
                @include font-style(20px, 500, Medium, 100%);
                color: $color-text;
              }
            }
          }
          .button {
            @include flex(center, center, null, null);
            cursor: pointer;
            width: 460px;
            height: 59px;
            border-radius: 10px;
            background-color: $color-primary;
            padding: 16px 60px;
            margin-top: 102px;
            color: $white;
          }
        }
      }
    }
  }
  .congratsmessage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    .message {
      @include flex(column, center, center, null);
      position: absolute;
      top: 20%;
      left: 25%;
      width: 876px;
      height: 590px;
      background-color: rgba(255, 255, 255, 0.7);
      box-shadow: $box-shadow-lg;
      .close {
        @include flex(row, center, center, null);
        width: 40px;
        height: 40px;
        position: absolute;
        right: 30px;
        top: 30px;
        svg {
          cursor: pointer;
          fill: $color-text;
        }
      }
      .other {
        @include flex(column, center, center, 74px);
        .checkmark {
          @include flex(row, center, center, null);
          width: 76px;
          height: 76px;
          border-radius: 50%;
          background-color: $color-bg;
        }
        .texts {
          @include flex(column, null, null, 16px);
          width: 233px;
          height: 100px;
          .congrats {
            @include font-style(42px, 600, 100%, SemiBold);
            width: 233px;
            height: 63px;
            text-align: center;
            color: $color-text;
          }
          .placed {
            @include font-style(14px, 400, 100%, Regular);
            width: 233px;
            height: 21px;
            text-align: center;
            color: $color-muted;
          }
        }
      }
      .ContinueShopping {
        @include flex(row, center, center, null);
        margin-top: 74px;
        width: 214px;
        height: 41px;
        border-radius: 10px;
        padding: 10px 20px;
        background-color: $color-primary;
        border: none;
        color: $white;
        cursor: pointer;
      }
    }
  }
}
