@use "../../app/variables.scss" as *;
@use "../mixins.scss" as *;
@use "../commonStyles.scss" as *;

main {
  .headder {

  }
  .listinText {
    span {
      margin-left: 100px;
      width: 111px;
      height: 21px;
      font-family: "Poppins";
      font-weight: 300;
      font-style: Light;
      font-size: 14px;
      line-height: 100%;
      letter-spacing: 0%;
    }
  }
  .listinText {
    span {
      margin-left: 100px;
      width: 111px;
      height: 21px;
      font-family: Poppins;
      font-weight: 300;
      font-style: Light;
      font-size: 14px;
      line-height: 100%;
      letter-spacing: 0%;
    }
  }
  .main {
    display: flex;
    margin-top: 49px;
    .sidePhotos {
      @include flex(column, null, null, 9px);
      // display: flex;
      // flex-direction: column;
      // gap: 9px;
      margin-left: 100px;
      width: 121px;
      height: 842.67px;

      img {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        cursor: pointer;
      }
    }
    .mainPhoto {
      margin-left: 24px;
      width: 703px;
      height: 937px;
      border-radius: 10px;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .details {
      @include flex(column, null, null, 56px);
      margin-left: 168px;
      width: 704px;
      height: 907px;

      .namePrice {
        @include flex(column, null, null, 21px);
        width: 583px;
        height: 117px;

        .name {
          width: 583px;
          height: 48px;
          @include font-style(32px, 600, SemiBold, 100%);
        }

        .price {
          width: 583px;
          height: 48px;
          @include font-style(32px, 600, SemiBold, 100%);
        }
      }

      .colorSizeQuantity {
        @include flex(column, null, null, 48px);
        width: 382px;
        height: 348px;

        .color {
          @include flex(column, null, null, 16px);
          width: 150px;
          height: 88px;

          .colorName {
            width: 150px;
            height: 24px;
            span {
              @include font-style(16px, 400, Regular, 100%);
            }
          }

          .colorCircles {
            @include flex(row, center, null, 13px);
            min-width: 150px;
            width: fit-content;
            height: 48px;

            .visibleColorDiv {
              @include flex(row, start, null, 13px);
              min-width: 150px;
              width: fit-content;
              height: fit-content;
            }

            .selectedColor {
              @include flex(row, center, center, null);
              width: 48px;
              height: 48px;
              border-radius: 50%;

              .circle {
                width: 38px;
                height: 38px;
                border-radius: 50%;
                cursor: pointer;
              }
            }

            .selectedColorBorder {
              border: 1px solid #e1dfe1;
            }
          }
        }

        .sizes {
          @include flex(column, null, null, 16px);
          width: 382px;
          height: 82px;

          .text {
            width: 382px;
            height: 24px;
            span {
              @include font-style(16px, 400, Regular, 100%);
            }
          }

          .sizesDiv {
            @include flex(row, null, null, 8px);
            width: 382px;
            height: 42px;

            .visibleSizes {
              @include flex(row, null, null, 8px);
              width: 382px;
              height: 42px;
            }

            .sizeInfo {
              @include flex(row, center, center, null);
              width: 70px;
              height: 42px;
              border-radius: 10px;
              border: 1px solid #e1dfe1;
              padding: 9px 16px;
              cursor: pointer;
            }

            .selectedSizeClass {
              border: 1px solid #10151f !important;
            }
          }
        }

        .quantity {
          @include flex(column, null, null, 16px);
          width: 70px;
          height: auto;

          .text {
            width: 70px;
            height: 24px;
            @include font-style(16px, 400, Regular, 100%);
          }

          .quantityDrpdown {
            @include flex(column, start, center, 10px);
            gap: 10px;
            position: relative;
            z-index: 2;
            width: 70px;
            height: 42px;
            border-radius: 10px;
            border: 1px solid #e1dfe1;
            padding: 9px 16px;
            overflow: hidden;
            background-color: white;

            .opt {
              @include flex(row, center, center, 10px);

              .number {
                span {
                  @include font-style(16px, 400, Regular, 100%);
                  cursor: pointer;
                }
              }

              .svgDiv {
                @include flex(row, center, center, null);
                width: 20px;
                height: 20px;

                .dropdown-svg {
                  cursor: pointer;
                }
              }
            }
          }

          .openDropdown {
            height: fit-content !important;
          }
        }
      }

      .button {
        @include flex(row, center, center, 10px);
        cursor: pointer;
        width: 704px;
        height: 59px;
        padding: 16px 60px;
        border-radius: 10px;
        background-color: #ff4000;

        .svgDiv {
          @include flex(row, center, center, null);
          width: 24px;
          height: 24px;
        }

        .text {
          width: 102px;
          height: 27px;
          span {
            @include font-style(18px, 500, Medium, 100%);
            color: white;
          }
        }
      }

      .line {
        width: 704px;
        height: 0px;
        border: 1px solid #e1dfe1;
      }

      .moreDetails {
        @include flex(column, null, null, 7px);
        width: 704px;
        height: 159px;

        .text {
          @include flex(row, space-between, center, null);
          width: 100%;
          height: 61px;

          .detailsText {
            width: 69px;
            height: 30px;
            @include font-style(20px, 500, Medium, 100%);
          }

          img {
            width: 109px;
            height: 61px;
          }
        }

        .brandAndinfo {
          @include flex(column, null, null, 19px);
          width: 704px;
          height: 91px;

          .brand {
            width: 100%;
            height: 24px;
            @include font-style(16px, 400, Regular, 100%);
            color: #3e424a;
          }

          .info {
            width: 100%;
            height: 48px;
            @include font-style(16px, 400, Regular, 100%);
            color: #3e424a;
          }
        }
      }
    }
  }
}
.multi-color-gradient {
  background: linear-gradient(
    90deg,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
}

.notWhiteBorder {
  box-shadow: $box-shadow-lg;
}
