main {
  .headder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 80px;
    padding: 10px 100px;
    .logo {
      display: flex;
      align-items: center;
      flex-direction: row;
      width: 180px;
      height: 24px;
      gap: 4px;
      cursor: pointer;
      .logoSvgParrent {
        position: relative;
        width: 24px;
        height: 24px;
        .logo-svg {
          position: absolute;
          top: 1.5px;
          left: 3.75px;
          width: 16.5px;
          height: 21px;
          color: #ff4000;
        }
      }

      .Name {
        display: flex;
        align-items: center;
        width: 152px;
        height: 24px;
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0%;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: normal;
        color: #10151f;
      }
    }
    .cartAndProfile {
      //   border: 1px solid black;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 108px;
      height: 40px;
      gap: 20px;
      .cart {
        position: relative;
        width: 24px;
        height: 24px;
        cursor: pointer;
        .cart-svg {
          position: absolute;
          top: 2.25px;
          left: 1.5px;
          width: 20.89px;
          height: 19.5px;
        }
      }
      .profile {
        display: flex;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: row;
        gap: 4px;
        width: 64px;
        height: 40px;
        .photo {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background-color: grey;
          object-fit: cover;
          cursor: pointer;
        }
        .dropdown {
          position: relative;
          width: 20px;
          height: 20px;
          .dropdown-svg {
            width: 10px;
            height: 5.75px;
            position: absolute;
            top: 8px;
            left: 5px;
            cursor: pointer;
          }
        }
      }
    }
  }
  .listinText {
    span {
      margin-left: 100px;
      width: 111px;
      height: 21px;
      font-family: "Poppins";
      font-weight: 300;
      font-style: Light;
      font-size: 14px;
      line-height: 100%;
      letter-spacing: 0%;
    }
  }
  .main {
    display: flex;
    // border: 1px solid black;
    margin-top: 49px;
    .sidePhotos {
      margin-left: 100px;
      //   border: 1px solid red;
      width: 121px;
      height: 842.67px;
      display: flex;
      flex-direction: column;
      gap: 9px;
      img {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        cursor: pointer;
      }
    }
    .mainPhoto {
      margin-left: 24px;
      //   border: 1px solid red;
      width: 703px;
      height: 937px;
      border-radius: 10px;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

      img {
        width: 100%;
        height: 100%;
      }
    }
    .details {
      margin-left: 168px;
      //   border: 1px solid red;
      width: 704px;
      height: 907px;
      display: flex;
      flex-direction: column;
      gap: 56px;
      .namePrice {
        width: 583px;
        height: 117px;
        display: flex;
        flex-direction: column;
        gap: 21px;
        .name {
          width: 583px;
          height: 48px;
          font-family: Poppins;
          font-weight: 600;
          font-style: SemiBold;
          font-size: 32px;
          line-height: 100%;
          letter-spacing: 0%;
        }
        .price {
          width: 583px;
          height: 48px;
          font-family: Poppins;
          font-weight: 600;
          font-style: SemiBold;
          font-size: 32px;
          line-height: 100%;
          letter-spacing: 0%;
        }
      }
      .colorSizeQuantity {
        .color {
          width: 150px;
          height: 88px;
          display: flex;
          flex-direction: column;
          gap: 16px;
          .colorName {
            width: 150px;
            height: 24px;
            span {
              font-family: Poppins;
              font-weight: 400;
              font-style: Regular;
              font-size: 16px;
              line-height: 100%;
              letter-spacing: 0%;
            }
          }
          .colorCircles {
            display: flex;
            align-items: center;
            gap: 13px;
            min-width: 150px;
            width: fit-content;
            height: 48px;
            // border: 1px solid black;

            .selectedColor {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 48px;
              height: 48px;
              border-radius: 50%;
              .circle {
                width: 38px;
                height: 38px;
                border-radius: 50%;
                cursor: pointer;
                // border: 1px solid black;
              }
            }
            .selectedColorBorder {
              border: 1px solid #e1dfe1;
            }
          }
        }
      }
      .sizes {
        width: 382px;
        height: 82px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        .text {
          width: 382px;
          height: 24px;
          span {
            font-family: Poppins;
            font-weight: 400;
            font-style: Regular;
            font-size: 16px;
            leading-trim: NONE;
            line-height: 100%;
            letter-spacing: 0%;
          }
        }
        .sizesDiv {
          // border: 1px solid black;
          width: 382px;
          height: 42px;
          display: flex;
          gap: 8px;
          .sizeInfo {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 70px;
            height: 42px;
            border-radius: 10px;
            border: 1px solid #e1dfe1;
            padding: 9px 16px;
            cursor: pointer;
          }
        }
      }
      .quantity {
        // border: 1px solid black;
        width: 70px;
        height: auto;
        // min-height: 82px;
        display: flex;
        gap: 16px;
        flex-direction: column;
        .text {
          width: 70px;
          height: 24px;
          font-family: Poppins;
          font-weight: 400;
          font-style: Regular;
          font-size: 16px;
          leading-trim: NONE;
          line-height: 100%;
          letter-spacing: 0%;
        }
        .quantityDrpdown {
          position: relative;
          z-index: 2;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 10px;
          justify-content: start;
          width: 70px;
          height: 42px;
          border-radius: 10px;
          border: 1px solid #e1dfe1;
          padding: 9px 16px;
          overflow: hidden;

          .opt {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;

            .number {
              span {
                width: 10px;
                height: 24px;
                opacity: 0.8;
                font-family: Poppins;
                font-weight: 400;
                font-style: Regular;
                font-size: 16px;
                line-height: 100%;
                letter-spacing: 0%;
                cursor: pointer;
              }
            }
            .svgDiv {
              width: 20px;
              height: 20px;
              display: flex;
              align-items: center;
              justify-content: center;
              .dropdown-svg {
                cursor: pointer;
              }
            }
          }
        }
        .openDropdown {
          height: fit-content !important;
        }
      }
    }
  }
}
