@use "../../app/variables.scss" as *;
@use "../mixins.scss" as *;
@use "../commonStyles.scss" as *;

main {
  .headder {
    @include flex(row, space-between, center);
    width: 100%;
    height: 80px;
    padding: 10px 100px;

    .logo {
      @include flex(row, null, center, 4px);
      width: 180px;
      height: 24px;

      .logoSvgParrent {
        @include flex(row, null, null);
        position: relative;
        width: 24px;
        height: 24px;

        .logo-svg {
          position: absolute;
          top: 1.5px;
          left: 3.75px;
          width: 16.5px;
          height: 21px;
          color: $color-primary;
        }
      }

      .Name {
        @include flex(row, center, center);
        width: 152px;
        height: 24px;
        @include font-style(16px, 600, normal, 100%);
        color: $color-text;
      }
    }
  }

  .main {
    @include flex(row, null, null);
    width: 100%;
    height: 831px;
    overflow: hidden;

    .leftSide {
      width: 837px;
      height: 1000px;

      .loginImage {
        width: 837px;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
        object-position: left;
      }
    }

    .rightSide {
      @include flex(row, center, center);
      width: 100%;

      .loginForm {
        .text {
          @include flex(column, null, null);
          width: 124px;
          height: 63px;
          margin-bottom: 50px;

          h1 {
            @include font-style(42px, 600, normal, 100%);
            color: $color-text;
          }
        }

        .inputs {
          @include flex(column, null, null, 46px);

          .fields {
            @include flex(column, flex-start, null, 24px);
            width: 554px;
            height: 108px;

            .emailLabel {
              position: relative;

              .requiredIcon {
                position: absolute;
                top: 15px;
                left: 50px;
              }
            }

            .passwordlabel {
              position: relative;

              .requiredIcon {
                position: absolute;
                top: 15px;
                left: 78px;
              }

              .passVisibilityIcon {
                @include flex(row, center, center);
                position: absolute;
                right: 10px;
                top: 7px;
                width: 20px;
                height: 20px;
                cursor: pointer;

                .eyeIcon {
                  position: absolute;
                  top: 3.75px;
                  left: 1.65px;
                }
              }
            }

            .input {
              width: 100%;
              height: 42px;
              border-radius: 8px;
              border: 1px solid $color-border;
              padding-left: 10px;
              outline: none;

              &::placeholder {
                color: $color-muted;
              }
              &:focus::placeholder {
                color: transparent;
              }
              &:focus ~ .requiredIcon,
              &:not(:placeholder-shown) ~ .requiredIcon {
                display: none;
              }
            }
          }

          .buttons {
            @include flex(column, center, center, 24px);

            .button {
              width: 100%;
              height: 41px;
              border-radius: 10px;
              padding: 10px 20px;
              background-color: $color-primary;
              color: $white;
              border: none;
              cursor: pointer;
              @include font-style(14px, 400, normal, 100%);
            }

            .register {
              a {
                text-decoration: none;
                color: $color-primary;
                cursor: pointer;
                @include font-style(15px, 400, normal, 100%);
              }
            }
          }
        }
      }

      .registerForm {
        @include flex(column, null, null, 46px);
        width: 554px;
        height: 518px;

        .text {
          @include flex(row, center, center);
          width: 261px;
          height: 63px;

          h1 {
            @include font-style(42px, 600, normal, 100%);
            color: $color-text;
          }
        }

        .avatar {
          // border: 1px solid black;
          @include flex(row, center, center, 13px);
          width: 272px;
          height: 100px;

          .imgCircle {
            @include flex(row, center, center, null);
            width: 100px;
            height: 100px;
            border-radius: 50%;
            padding: 10px;
            // background-color: #F8F6F7;
            border: 1px solid #e1dfe1;
          }

          .image {
            @include flex(row, center, center);
            overflow: hidden;
            object-fit: cover;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background-color: $avatar-bg;
          }

          .upload {
            @include flex(row, center, center, 14px);
            width: 157px;
            height: 21px;

            .span {
              @include flex(row, center, center);
              @include font-style(14px, 400, normal, 100%);
              cursor: pointer;
              span {
                @include font-style(14px, 400, normal, 100%);
                width: fit-content;
              }
            }

            .uploadText {
              width: 84px;
              height: 21px;
            }

            .removeText {
              width: 58px;
              height: 21px;
            }

            input[type="file"]::file-selector-button,
            input[type="file"]::-webkit-file-upload-button {
              display: none;
            }

            input[type="file"] {
              width: 0.1px;
              height: 0.1px;
              opacity: 0;
              overflow: hidden;
              position: absolute;
            }
          }
        }

        .inputs {
          @include flex(column, null, null, 46px);

          .fields {
            @include flex(column, null, null, 24px);
            width: 554px;
            min-height: 240px;

            .emailLabel {
              position: relative;

              .requiredIcon {
                position: absolute;
                top: 15px;
                left: 50px;
              }
            }

            .passwordlabel {
              position: relative;

              .requiredIcon {
                position: absolute;
                top: 15px;
                left: 78px;
              }

              .passVisibilityIcon {
                @include flex(row, center, center);
                position: absolute;
                right: 10px;
                top: 7px;
                width: 20px;
                height: 20px;
                cursor: pointer;

                .eyeIcon {
                  position: absolute;
                  top: 3.75px;
                  left: 1.65px;
                }
              }
            }

            .usernameLabel {
              position: relative;

              .requiredIcon {
                position: absolute;
                top: 15px;
                left: 83px;
              }
            }

            .confPassLabel {
              position: relative;

              .requiredIcon {
                position: absolute;
                top: 15px;
                left: 135px;
              }
            }

            .input {
              width: 100%;
              height: 42px;
              border-radius: 8px;
              border: 1px solid $color-border;
              padding-left: 10px;
              outline: none;

              &::placeholder {
                color: $color-muted;
              }
              &:focus::placeholder {
                color: transparent;
              }
              &:focus ~ .requiredIcon,
              &:not(:placeholder-shown) ~ .requiredIcon {
                display: none;
              }
            }
          }

          .buttons {
            @include flex(column, center, center, 24px);

            .button {
              width: 100%;
              height: 41px;
              border-radius: 10px;
              padding: 10px 20px;
              background-color: $color-primary;
              color: $white;
              border: none;
              cursor: pointer;
              @include font-style(14px, 400, normal, 100%);
            }

            .register {
              // @include flex(row, center, center);
              a {
                text-decoration: none;
                color: $color-primary;
                cursor: pointer;
                @include font-style(15px, 400, normal, 100%);
              }
            }
          }
        }
      }
    }
  }
}

.incorrectPass {
  font-family: Poppins;
  font-weight: 300;
  font-style: Light;
  font-size: 10px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  width: fit-content;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4px;
  color: #ff4000;
}

.incorrectLoginPass {
  border: 1px solid #ff4000 !important;
}
