@use "../app/variables.scss" as *;

@mixin font-style($size, $weight, $style, $line-height) {
  font-family: $font-poppins; // fixed
  font-weight: $weight; // passed
  font-style: $style; // passed
  font-size: $size; // passed
  line-height: $line-height; // passed
  letter-spacing: 0%; // fixed
}

@mixin flex($direction: null, $justify: null, $align: null, $gap: null) {
  display: flex;

  @if $direction {
    flex-direction: $direction;
  }

  @if $justify {
    justify-content: $justify;
  }

  @if $align {
    align-items: $align;
  }

  @if $gap {
    gap: $gap;
  }
}
