main {
  .headder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 80px;
    padding: 10px 90px;
    .logo {
      display: flex;
      align-items: center;
      flex-direction: row;
      width: 180px;
      height: 24px;
      gap: 4px;
      cursor: pointer;
      .logoSvgParrent {
        position: relative;
        width: 24px;
        height: 24px;
        .logo-svg {
          position: absolute;
          top: 1.5px;
          left: 3.75px;
          width: 16.5px;
          height: 21px;
          color: #ff4000;
        }
      }

      .Name {
        display: flex;
        align-items: center;
        width: 152px;
        height: 24px;
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0%;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: normal;
        color: #10151f;
      }
    }
    // .login-headder {
    //   display: flex;
    //   align-items: center;
    //   justify-content: center;
    //   flex-direction: row;
    //   width: 64px;
    //   height: 20px;
    //   gap: 8px;
    //   .loginSvgParrent {
    //     position: relative;
    //     width: 20px;
    //     height: 20px;
    //     .login-svg {
    //       width: 13.23px;
    //       height: 16px;
    //       top: 2px;
    //       left: 3.39px;
    //     }
    //   }
    //   .login-text {
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     flex-direction: row;
    //     width: 36px;
    //     height: 18px;
    //     font-family: "Poppins", sans-serif;
    //     font-weight: 500;
    //     font-style: normal;
    //     font-size: 12px;
    //     line-height: 100%;
    //     letter-spacing: 0%;
    //     cursor: pointer;
    //     color: #10151f;
    //   }
    // }
    .cartAndProfile {
      //   border: 1px solid black;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 108px;
      height: 40px;
      gap: 20px;
      .cart {
        position: relative;
        width: 24px;
        height: 24px;
        cursor: pointer;
        .cart-svg {
          position: absolute;
          top: 2.25px;
          left: 1.5px;
          width: 20.89px;
          height: 19.5px;
        }
      }
      .profile {
        display: flex;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: row;
        gap: 4px;
        width: 64px;
        height: 40px;
        .photo {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background-color: grey;
          object-fit: cover;
          cursor: pointer;
        }
        .dropdown {
          position: relative;
          width: 20px;
          height: 20px;
          .dropdown-svg {
            width: 10px;
            height: 5.75px;
            position: absolute;
            top: 8px;
            left: 5px;
            cursor: pointer;
          }
        }
      }
    }
  }
  .main {
    // border: 1px solid purple;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    .sortDiv {
      //   border: 1px solid black;
      margin-top: 72px;
      width: 1720px;
      height: 63px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      .prodSpan {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: normal;
        font-size: 42px;
        line-height: 100%;
        letter-spacing: 0%;
        color: #10151f;
      }
      .sortOptions {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 32px;
        min-width: 412px;
        max-width: fit-content;
        height: 24px;
        .showing {
          .showingSpan {
            min-width: 158px;
            max-width: fit-content;
            height: 18px;
            font-family: "Poppins", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 12px;
            line-height: 100%;
            letter-spacing: 0%;
            color: #3e424a;
          }
        }
        .line {
          width: 14px;
          height: 0px;
          border: 1px solid #e1dfe1;
          rotate: -90deg;
        }
        .filter {
          display: flex;
          align-items: center;
          width: 70px;
          height: 24px;
          gap: 8px;
          .svgHome {
            position: relative;
            display: flex;
            width: 24px;
            height: 24px;
            .filter-svg {
              cursor: pointer;
              position: absolute;
              top: 4.5px;
              left: 3.75px;
              // border: 1.5px solid #0F172A;
              width: 16.5px;
              height: 15px;
            }
          }
          .filterSpan {
            font-family: "Poppins", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 0%;
            color: #10151f;
            cursor: pointer;
          }
          .filterOptions {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 20px;
            top: 205px;
            right: 186px;
            width: 392px;
            height: 169px;
            border-radius: 8px;
            border: 1px solid #e1dfe1;
            background-color: white;
            .selectPrice {
              width: 360px;
              display: flex;
              align-items: start;
              font-family: Poppins;
              font-weight: 600;
              font-style: SemiBold;
              font-size: 16px;
              line-height: 100%;
              letter-spacing: 0%;
            }
            .fromToApply {
              display: flex;
              flex-direction: column;
              width: 360px;
              height: 93px;
              gap: 10px;

              .fromTo {
                width: 360px;
                height: 43px;
                display: flex;
                gap: 10px;
                .from,
                .to {
                  display: flex;
                  gap: 8px;
                  padding-right: 12px;
                  padding-left: 12px;
                  width: 175px;
                  height: 42px;
                  gap: 4px;
                  opacity: 1;
                  border-radius: 8px;
                  font-family: Poppins;
                  font-weight: 400;
                  font-style: Regular;
                  font-size: 14px;
                  line-height: 100%;
                  letter-spacing: 0%;
                  outline: none;
                  border: 1px solid #e1dfe1;
                }
              }
            }
            .button {
              width: 360px;
              display: flex;
              align-items: center;
              justify-content: end;

              button {
                width: 124px;
                height: 41px;
                border-radius: 10px;
                padding: 10px 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                gap: 10px;
                border: none;
                background-color: #ff4000;
              }
            }
          }
        }
        .sortBy {
          display: flex;
          align-items: center;
          .detailedSort {
            width: 223px;
            height: 184px;
            position: absolute;
            top: 205px;
            right: 92px;
            border-radius: 8px;
            padding-top: 16px;
            padding-bottom: 16px;
            background-color: white;
            border: 1px solid #e1dfe1;
            display: flex;
            flex-direction: column;
            gap: 8px;
            .top {
              display: flex;
              gap: 10px;
              width: 100%;
              height: 24px;
              padding-left: 16px;
              padding-right: 16px;
              span {
                width: 57px;
                height: 24px;
                color: #10151f;
                font-family: Poppins;
                font-weight: 600;
                font-style: SemiBold;
                font-size: 16px;
                line-height: 100%;
                letter-spacing: 0%;
              }
            }
            .bottom {
              width: 100%;
              height: 120px;
              display: flex;
              flex-direction: column;
              .frame {
                width: 223px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: start;
                gap: 10px;
                padding: 8px 16px;
              }
              span {
                font-family: Poppins;
                font-weight: 400;
                font-style: Regular;
                font-size: 16px;
                line-height: 100%;
                letter-spacing: 0%;
                cursor: pointer;
              }
              .f1 {
                width: 145px;
                height: 24px;
              }
              .f2 {
                width: 134px;
                height: 24px;
              }
              .f3 {
                width: 134px;
                height: 24px;
              }
            }
          }
          .sortSpan {
            display: flex;
            align-items: center;
            width: 56px;
            height: 24px;
            font-family: "Poppins", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 0%;
            color: #10151f;
            cursor: pointer;
          }
          .svgHome {
            display: flex;
            position: relative;
            width: 20px;
            height: 20px;
            .sortBy-svg {
              position: absolute;
              top: 8px;
              left: 5px;
              width: 10px;
              height: 5.75px;
              cursor: pointer;
            }
          }
        }
      }
    }
    .products {
      // border: 1px solid green;
      margin-top: 32px;
      display: flex;
      flex-wrap: wrap;
      gap: 24px;
      width: 1720px;
      max-height: 1938px;
      height: fit-content;
      .card {
        border-radius: 8px;
        // border: 1px solid black;
        display: flex;
        flex-direction: column;
        width: 412px;
        height: 614px;
        gap: 12px;
        cursor: pointer;
        .productPhoto {
          width: 412px;
          height: 549px;
          border-radius: 10px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        }
        .info {
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 53px;
          gap: 2px;
          .productName {
            width: 412px;
            height: 27px;
            font-family: "Poppins", sans-serif;
            font-weight: 500;
            font-style: normal;
            font-size: 18px;
            line-height: 100%;
            letter-spacing: 0%;
            color: #10151f;
          }
          .productInfo {
            width: 412px;
            height: 24px;
            font-family: "Poppins", sans-serif;
            font-weight: 500;
            font-style: normal;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 0%;
            color: #10151f;
          }
        }
      }
    }
    .pagination {
      // border: 1px solid blue;
      margin-top: 90px;
      padding-bottom: 216px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 1720px;
      height: 32px;
      .pages {
      // border: 1px solid blue;
        display: flex;
        align-items: center;
        gap: 8px;
        width: fit-content;
        height: 32px;
        .first,
        .second,
        .others,
        .nineth,
        .last {
          width: 32px;
          height: 32px;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid #f8f6f7;
          border-radius: 4px;
          cursor: pointer;
          font-family: "Poppins", sans-serif;
          font-weight: 500;
          font-style: normal;
          font-size: 14px;
          line-height: 20px;
          letter-spacing: 0%;
          color: #212b36;
          font-family: Poppins;
          font-weight: 500;
          font-style: Medium;
          font-size: 14px;
          // leading-trim: NONE;
          line-height: 20px;
          letter-spacing: 0%;
          text-align: center;
          opacity: 0.6;
        }

        .first:hover,
        .second:hover,
        .nineth:hover,
        .last:hover {
          border: 1px solid #dd876a;
          color: #dd876a;
        }
        .leftSvgDiv,
        .rightSvgDiv {
          cursor: pointer;
          position: relative;
          width: 20px;
          height: 20px;
          svg {
            position: absolute;
            top: 5px;
            left: 8px;
            color: #10151f;
          }
        }
      }
      .selectedPage {
        border: 1px solid #ff4000 !important;
        color: #ff4000 !important;
        font-weight: 600;
      }
    }
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
